In [19]:
tupla_numeros = (10, 20, 30)
tupla_numeros

(10, 20, 30)

In [20]:
tupla_nova = 10, 20, 30
tupla_nova

(10, 20, 30)

In [21]:
tupla_elemento = 10,
tupla_elemento

(10,)

In [22]:
tupla_vazia = ()
tupla_vazia

()

In [15]:
nova_tupla = tuple('Teste')
nova_tupla

('T', 'e', 's', 't', 'e')

In [2]:
tupla_nomes = ('Marlene', 'Zezinho', 'Marlene', 'Cibele', 'Cibele', 'Zuely')

print(tupla_nomes.count('Marlene'))
print(tupla_nomes.count('Suely'))
print(tupla_nomes.count('Zezinho'))

2
0
1

In [3]:
# 1) Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4,
# 5 e depois utilize a função count do objeto tupla para verificar
# quantas vezes o número 4 aparece na tupla.

tupla_numeros = (1, 2, 2, 3, 4, 4, 4, 5)

print(tupla_numeros.count(4))

3

In [4]:
dicio = {'chave': 'valor'}
print(type(dicio))

<class 'dict'>

In [5]:
# 1) O que acontece em cada sequência de comandos a seguir?
# a) 

d = {
'laranjas': 15, 
'bananas': 35, 
'siringuelas': 12
}

d['bananas']

35

In [6]:
# 1) O que acontece em cada sequencia de comandos a seguir?
# b) 

d['pitomba'] = 20
len(d)

print(d)

{'laranjas': 15, 'bananas': 35, 'siringuelas': 12, 'pitomba': 20}

In [7]:
# 1) O que acontece em cada sequencia de comandos a seguir?
# c) 

'pitomba' in d

True

In [8]:
# 1) O que acontece em cada sequencia de comandos a seguir?
# d) 

'pears' in d

False

In [9]:
# 1) O que acontece em cada sequencia de comandos a seguir?
# f) 

del d['laranjas']

'laranjas' in d

False

In [10]:
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]

print([1, 2] + [3, 4])
print(frutas + [6, 7, 8, 9])

print([0] * 4)
print([1, 2,["oi", "tchau"]]*2)

[1, 2, 3, 4]
['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]
[0, 0, 0, 0]
[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]

In [11]:
minha_lista = []
minha_lista.append(5)
minha_lista.append(27)
minha_lista.append(3)
minha_lista.append(12)

print(minha_lista)

[5, 27, 3, 12]

In [12]:
minha_lista.insert(1, 12)

print(minha_lista)
print(minha_lista.count(12))

print(minha_lista.index(3))
print(minha_lista.count(5))

[5, 12, 27, 3, 12]
2
3
1

In [13]:
minha_lista.reverse()
print(minha_lista)

minha_lista.sort()
print(minha_lista)

minha_lista.remove(5)
print(minha_lista)

[12, 3, 27, 12, 5]
[3, 5, 12, 12, 27]
[3, 12, 12, 27]

In [14]:
ultimo_item = minha_lista.pop()

print(ultimo_item)
print(minha_lista)

27
[3, 12, 12]